  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app{
  display: flex;
  position: relative;
  min-height: 100vh;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #555; 
}

.wrapper{
  position: relative;
  width: 420px;
  height: 450px;
  background: transparent;
  border: 2.5px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0 0 31px rgba(0, 0, 0, .5);
  color: #fff;
  margin: auto;
  margin-top: 10rem;
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

form h1{
  font-size: 36px;
  text-align: center;
}

form .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color: #fff;
}

.input-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}

form .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: none;
  margin-left: 14rem;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.title{
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -0.4rem;
}
.title-1{
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: -0.4rem;
  margin-top: -1.1rem;
}

.text-center{
    text-align: center;
    color: red;
}

.preloader {
  background-color: #141b2d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.problems{
  padding-top: 13rem;
  width: 40%;
  margin: auto;
}

.problem-title{
  margin-left: 10px;
  margin-top: 10px;
}

.btn-create{
  background-color: rgb(69, 69, 199);
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 9rem;
  padding: 10px;
  text-decoration: none;
}

.btn-create:hover{
  background-color: rgb(35, 35, 101);
  color: white;
}

.create-problem{
  text-decoration: none;
  color: white;
  margin: 0 auto;
  padding: 2px;
}

.label-filter{
margin-right: 10px;

}

.form-filter{
  margin-top: 0rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: -3.5rem;  
  position: relative;
  z-index: 1;
} 

.input-filter{
  width: 6rem;
  margin-left: 10px;
}

.delete-button{
  background-color: red;
  color: white;
  height: 30px;
  width: 65px;
  justify-content: center;
  border-radius: 5px;
}

.delete-button:hover{
  background-color: rgba(255, 0, 0, 0.744);
}
